body {
  font-family: 'Arial, sans-serif';
  background-color: #5b0404;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: #f4dcd0; 
  padding: 1rem;
}

.header a, .header .btn {
  color: #a80707 !important;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover, .header .btn:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link.login-signup-link {
  color: #5b0404 !important;
}

.navbar-nav .nav-link.login-signup-link:hover {
  color: #5b0404 !important;
}

.search-bar-container {
  background-color: #b22222;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.search-bar-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/pattern4.png');
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* %50 şeffaflık */
  z-index: 1;
}

.search-bar-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f4dcd0;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
}

.search-bar input {
  background-color: #f4dcd0;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  border-radius: 25px;
}

.search-bar input:hover {
  background-color: #f4dcd0;
}

.search-bar .search-icon {
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.search-bar .search-icon i {
  font-size: 24px;
  color: #333;
}

.events-section {
  background-color: #5b0404;
  text-align: center;
  margin-top: 40px;
  flex: 1;
}

.event-card {
  margin: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.event-card img {
  width: 150px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.event-card p {
  font-weight: bold;
}

footer {
  background-color: #f4dcd0 !important;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.reserve-book {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reserve-book h1 {
  margin-bottom: 20px;
}

.reserve-book form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.reserve-book input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reserve-book button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5b0404;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-book button:hover {
  background-color: #333;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-results li button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #5b0404;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-results li button:hover {
  background-color: #333;
}

.reserved-book {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4dcd0;
  border-radius: 5px;
}

.documents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 3 sütun oluşturur, ekran boyutuna göre otomatik ayarlanır */
  gap: 20px; /* Kartlar arasında boşluk bırakır */
  margin-top: 20px;
}

.document-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.document-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.document-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.document-card p {
  color: #777;
  font-size: 14px;
}

.document-card a {
  display: inline-block;
  margin-top: 10px;
  color: #5b0404;
  text-decoration: none;
  font-weight: bold;
}

.document-card a:hover {
  text-decoration: underline;
}
